<div style="
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: {{height}}px;"
>
	<iframe
		align="middle"
		scrolling="yes"
		width="100%"
		height="101%"
		frameborder="0"
		src={{link}}>
		이 브라우저는 iframe을 지원하지 않습니다. 다음 링크로 가서 상세 내용을 확인해주세요. 링크: {{link}}
	</iframe>
</div>
