{{#if over}}
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>
	<div class="cyt_selected_spot"></div>	
	<div class="cyt_selected_spot_count">...</div>
{{else}}
{{#countArr}}
	<div class="cyt_selected_spot"></div>
{{/countArr}}
{{/if}}
