<div class="cyt_module_btn" id="cyt_module_btn_{{id}}" data-btnid="{{id}}">
	<div class="cyt_module_btn_toggle_{{id}}">
		<i class="fa fa-angle-down" aria-hidden="true"></i>
		<span class="cyt_module_btn_txt">펼치기</span>
	</div>
	<div class="cyt_module_btn_toggle_{{id}} cyt_module_btn_unvisible">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
		<span class="cyt_module_btn_txt">접기</span>
	</div>
</div> 
