<div class="cyt_course_title">
	<header class="">{{courseName}}</header>
	<div class="cyt_course_title_sub">
		<span class="cyt_course_title_sub_info cyt_course_title_sub_info_region">{{region}}</span><span class="cyt_course_title_sub_info cyt_course_title_sub_info_day">{{subTitle}} 코스</span>
	</div>
</div>
