<div class="cyt_entry_meta">
	<header class="cyt_entry_header">제주도</header>
	<nav class="cyt_entry_navigation">
		<li class="cyt_entry_nav cyt_entry_nav_selected">나만의 코스</li>
		<li class="cyt_entry_nav">가볼만한 곳</li>
		<li class="cyt_entry_nav">리뷰</li>
		<li class="cyt_entry_nav">코스추천</li>
	</nav>
</div>
