<section class="cyt_section_container cyt_section_intro_background" id="cyt_section_root_1">
	<a href="/"><button class="cyt_nav_cancel_btn"><i class="fa fa-times" aria-hidden="true"></i></button></a>
	<header class="cyt_section_1_header">나만의 여행 코스 만들기</header>
	<ul class="cyt_region_lists">
		<li class="cyt_region_list region_clicked">제주</li>
		<li class="cyt_region_list">인천</li>
		<li class="cyt_region_list">부산</li>
		<li class="cyt_region_list">전주</li>
		<li class="cyt_region_list">통영</li>
		<li class="cyt_region_list">춘천</li>
		<li class="cyt_region_list">대구</li>
		<li class="cyt_region_list">포항</li>
		<li class="cyt_region_list">보성</li>
		<li class="cyt_region_list">속초</li>
		<li class="cyt_region_list">경주</li>
		<li class="cyt_region_list">강릉</li>
	</ul>
	<div class="cyt_region_input_area">
		<input type="text" class="cyt_course_name_input_area" id="cyt_course_name" placeholder="코스 이름을 입력해주세요">
		<button id="cyt_region_submit_btn" class="btn btn_intro_submit">코스 만들러 가기</button>
	</div>
</section>
