<div class="cyt_section_meta">
	<a href="/"><button class="cyt_section_nav_cancel_btn" id="cyt_to_entry_btn"><i class="fa fa-times" aria-hidden="true"></i></button></a>
	<header class="cyt_section_header">{{courseName}}</header>
	<nav class="cyt_section_navigation">
		<li class="cyt_section_navigation_direction cyt_section_navigation_direction_prev" id="direction_prev"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{prevNav}}</li>
		<li class="cyt_section_navigation_direction cyt_section_navigation_direction_next" id="direction_next">{{nextNav}}<i class="fa fa-arrow-right" aria-hidden="true"></i></li>
	</nav>
</div>
