.btn_map {
  display: block;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(112, 115, 126, 0.6);
  background: rgba(255, 255, 255, 0.93);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  z-index: 300;
}

.btn_reset {
  position: absolute;
  top: 95px;
  left: 9px;
  text-align: center;
  color: transparent;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.2s
    cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn_reset:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background: url(https://ssl.pstatic.net/sstatic/keypage/outside/scui/overseas_trip/im/ico_pin.png)
    no-repeat;
  -webkit-background-size: 450px 109px;
  background-size: 450px 109px;
  color: transparent;
  background-position: -368px -67px;
  color: transparent;
}

.cs_recommend_course .course_map_area.map_extend .zoom_btn_area {
  z-index: 1;
}